body{
    background-color: #DCE4F2;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-back{
    background-image: url(../img/Cabeçalho-imagem.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 40%;
}

.titulo{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #726642;
}

.texto{
    text-align: center;
    width: 90%;
    color: #726642;
    margin-left: 5px;
    font-size: 20px;
}

.dog{
    display:grid;
    place-items: end;
    margin-top: 10%;
}

.formulario{
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nomes, .raça{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text{
    margin-bottom: 2%;
    width: 350px;
    height: 28px;
    border: none;
    border-radius: 8px;
    box-shadow: #726642 0px 0px 0.5px 0.5px;
}

.botao{
    margin-top: 3%;
    display: grid;
    place-items: center;
}

.btn{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 50%;
    cursor: pointer;
    background-color: #D9AA1E;
}

.botao-resp{
    margin-top: 3%;
    display: grid;
    place-items: center;
}

.down-btn-resp{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 50%;
    cursor: pointer;
    background-color: #D9AA1E;
    display: none;
}

    @media print{
        .header{
            display: none;
        }

        .titulo-2{
            display: none;
        }

        body {
            -webkit-print-color-adjust: exact; 
            margin: 1cm 1cm;
        }

        @page {

            margin: -1cm 0;

        }

        .down-btn{
            display: none;
        }
    }
